<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/formStyle.css"> 
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Username" name="user" />
        <br><br>
        <textarea name="content" cols="30" rows="10" placeholder="What's happening?"></textarea>
        <br>
        <button>Post</button>
    </form>
</body>
</html>
